<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Fanwires Admin</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{$smarty.const.SITE_URL}views/css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$smarty.const.SITE_URL}views/scripts/jquery.min.js"></script>
<script src="{$smarty.const.SITE_URL}views/scripts/jquery.validate.js" type="text/javascript"></script>
</head>
<body>
<div id="wrapper">
              <div id="top_headerpart">
              <div class="headerpart">
              <div class="header_left">
              <div class="logo"><a href="#"><img src="{$smarty.const.SITE_URL}views/images/logo.png" height="91" width="92" alt="" /></a></div> <p>Fanwires admin</p>
              </div>              
              </div>
              
          	<div class="profile" style="display:none" id="logg">
            	<div class="profile_list">
                    <ul>
                    	<li style="border-bottom:#005b6d solid 1px;"><a href="#">prefeerences</a></li>
                        <li style="border-bottom:#005b6d solid 1px;border-top:#74cbdc solid 1px"><a href="#">Profile</a></li>
                        <li style="border-top:#74cbdc solid 1px"><a href="#">Log out</a></li>
                       
                    </ul>
                </div>
            </div>                
<div style="clear:both;"></div>