<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name='description' content="{$metadescription}"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{if $pagetitle}{$pagetitle}{else}Fanwire{/if}</title>
        <link href="{$smarty.const.SITE_URL}views/css/login_style.css" rel="stylesheet" type="text/css" />
        <link href="{$smarty.const.SITE_URL}views/css/fanwire.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="{$smarty.const.SITE_URL}views/images/favicon-icon.ico"/>
        <link rel="stylesheet" href="{$smarty.const.SITE_URL}views/css/jquery-ui-1.8.18.custom.css"/>
        <script type="text/javascript" src="{$smarty.const.SITE_URL}views/scripts/jquery.min.js"></script>
        <script type="text/javascript" src="{$smarty.const.SITE_URL}views/scripts/jquery.validate.js"></script>
        <script type="text/javascript" src="{$smarty.const.SITE_URL}views/scripts/jquery.form.js"></script>
        <script type="text/javascript" src="{$smarty.const.SITE_URL}views/scripts/jquery.validation.functions.js"></script>
        <script type="text/javascript" src="{$smarty.const.SITE_URL}views/scripts/jquery.mCustomScrollbar.js"></script>
        <script type="text/javascript" src="{$smarty.const.SITE_URL}views/scripts/jquery.mousewheel.min.js"></script>
        <script type="text/javascript" src="{$smarty.const.SITE_URL}views/scripts/popup.js"></script>
        <script type="text/javascript" src="{$smarty.const.SITE_URL}views/scripts/jquery.masonry.min.js"></script>
        <script type="text/javascript" src="{$smarty.const.SITE_URL}views/scripts/jquery.gpCarousel.js"></script>
        <script type="text/javascript" src="{$smarty.const.SITE_URL}views/scripts/div_alignment.js"></script>
        <script type="text/javascript" src="{$smarty.const.SITE_URL}views/scripts/scrolltop.js"></script>
        <script src="{$smarty.const.SITE_URL}views/scripts/zoom.js"></script>
        <script src="{$smarty.const.SITE_URL}views/scripts/jquery.ui.core.js"></script>
        <script src="{$smarty.const.SITE_URL}views/scripts/jquery.ui.widget.js"></script>
        <script src="{$smarty.const.SITE_URL}views/scripts/jquery.ui.mouse.js"></script>
        <script src="{$smarty.const.SITE_URL}views/scripts/jquery.ui.slider.js"></script>
        <script  type="text/javascript"    src="{$smarty.const.SITE_URL}views/scripts/ui.min.js" ></script>
        <script  type="text/javascript"    src="{$smarty.const.SITE_URL}views/scripts/jquery.ui.touch-punch.min.js"></script>
        <script  type="text/javascript"    src="{$smarty.const.SITE_URL}views/scripts/facescroll.js"></script> 
        <script  type="text/javascript"    src="{$smarty.const.SITE_URL}views/scripts/fanwire.js"></script> 
    </head>
    <body>
{literal}
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0013/5671.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
{/literal}	
        <div id="wrapper">
            <!--Left Section Start-->
            <div id="leftsection">
                <div class="logoguest"><a href="{$smarty.const.SITE_URL}"><img src="{$smarty.const.SITE_URL}views/images/logo.png" width="143" height="127" border="0" /></a>
                </div>
