{include file='header.tpl.html'}
 

            <div class="left_menu">
                <ul>
                    <li><a href="{$smarty.const.SITE_URL}findFans">1- FIND your fans</a></li>
                    <li><a href="{$smarty.const.SITE_URL}uploadProfilePic">2- profile photo</a></li>
                    <li class="active"><a href="{$smarty.const.SITE_URL}addFanwires">3- add fanwires</a></li>
                    <li><a href="{$smarty.const.SITE_URL}socialMedia">4- social media connect</a></li>
                </ul>

            </div>

        </div>

        <!--Left Section End-->  



        <!--Right Section-->
        <div class="right_container">

            <div id="rightsection">

                <div id="right_area">

                    <h2>customize your profile: Add fanwires<br />
                        <span>A FanWire is a collection of information for a particular subject.<br />

                            Select your favorite Band, Celebrity, News, or Sports. You can always add or remove anytime.</span></h2>
                    <br />

                    <div class="add_fanwires">
                        <h2>our suggestions:</h2>
                        <div class="search"></div>
                    </div>

                    <div class="add_fanwires">
                        <div class="awards_active">
                            <ul>
                                <li class="active"><a href="#"><span><strong>Recent Fanwirs</strong></span></a></li>
                                <li><a href="#"><span><strong>Recent Activity</strong></span></a></li>
                            </ul>
                        </div>

                        <div class="search">
                            <input name="" type="text" class="search_field" />
                            <input name="" type="button" class="go" />
                        </div>

                    </div>

                    <div class="addpost">

                        <div class="post">
                            <div class="posts">
                                <img src="{$smarty.const.SITE_URL}views/images/lil.png" width="114" height="105" />
                                <div class="data">Lil wayne</div></div>
                            <input name="" type="button" class="fan" value="+ fan" />
                            <!--<div class="fan">+ fan</div>-->
                        </div>

                        <div class="post">
                            <div class="posts">
                                <img src="{$smarty.const.SITE_URL}views/images/lil.png" width="114" height="105" />
                                <div class="data">Lil wayne</div></div>
                            <input name="" type="button" class="fan" value="+ fan" />
                            <!--<div class="fan">+ fan</div>-->
                        </div>
                        <div class="post">
                            <div class="posts">
                                <img src="{$smarty.const.SITE_URL}views/images/lil.png" width="114" height="105" />
                                <div class="data">Lil wayne</div></div>
                            <input name="" type="button" class="fan" value="+ fan" />
                            <!--<div class="fan">+ fan</div>-->
                        </div>

                        <div class="post">
                            <div class="posts">
                                <img src="{$smarty.const.SITE_URL}views/images/lil.png" width="114" height="105" />
                                <div class="data">Lil wayne</div></div>
                            <input name="" type="button" class="fan" value="+ fan" />
                            <!--<div class="fan">+ fan</div>-->
                        </div>

                        <div class="post">
                            <div class="posts">
                                <img src="{$smarty.const.SITE_URL}views/images/lil.png" width="114" height="105" />
                                <div class="data">Lil wayne</div></div>
                            <input name="" type="button" class="fan" value="+ fan" />
                            <!--<div class="fan">+ fan</div>-->
                        </div>

                        <div class="post">
                            <div class="posts">
                                <img src="{$smarty.const.SITE_URL}views/images/lil.png" width="114" height="105" />
                                <div class="data">Lil wayne</div></div>
                            <input name="" type="button" class="fan" value="+ fan" />
                            <!--<div class="fan">+ fan</div>-->
                        </div>
                        <div class="post">
                            <div class="posts">
                                <img src="{$smarty.const.SITE_URL}views/images/lil.png" width="114" height="105" />
                                <div class="data">Lil wayne</div></div>
                            <input name="" type="button" class="fan" value="+ fan" />
                            <!--<div class="fan">+ fan</div>-->
                        </div>

                        <div class="post">
                            <div class="posts">
                                <img src="{$smarty.const.SITE_URL}views/images/lil.png" width="114" height="105" />
                                <div class="data">Lil wayne</div></div>
                            <input name="" type="button" class="fan" value="+ fan" />
                            <!--<div class="fan">+ fan</div>-->
                        </div>


                        <div class="post">
                            <div class="posts">
                                <img src="{$smarty.const.SITE_URL}views/images/lil.png" width="114" height="105" />
                                <div class="data">Lil wayne</div></div>
                            <input name="" type="button" class="fan" value="+ fan" />
                            <!--<div class="fan">+ fan</div>-->
                        </div>

                        <div class="post">
                            <div class="posts">
                                <img src="{$smarty.const.SITE_URL}views/images/lil.png" width="114" height="105" />
                                <div class="data">Lil wayne</div></div>
                            <input name="" type="button" class="fan" value="+ fan" />
                            <!--<div class="fan">+ fan</div>-->
                        </div>
                        <div class="post">
                            <div class="posts">
                                <img src="{$smarty.const.SITE_URL}views/images/lil.png" width="114" height="105" />
                                <div class="data">Lil wayne</div></div>
                            <input name="" type="button" class="fan" value="+ fan" />
                            <!--<div class="fan">+ fan</div>-->
                        </div>

                        <div class="post">
                            <div class="posts">
                                <img src="{$smarty.const.SITE_URL}views/images/lil.png" width="114" height="105" />
                                <div class="data">Lil wayne</div></div>
                            <input name="" type="button" class="fan" value="+ fan" />
                            <!--<div class="fan">+ fan</div>-->
                        </div>


                        <div class="post">
                            <div class="posts">
                                <img src="{$smarty.const.SITE_URL}views/images/lil.png" width="114" height="105" />
                                <div class="data">Lil wayne</div></div>
                            <input name="" type="button" class="fan" value="+ fan" />
                            <!--<div class="fan">+ fan</div>-->
                        </div>

                        <div class="post">
                            <div class="posts">
                                <img src="{$smarty.const.SITE_URL}views/images/lil.png" width="114" height="105" />
                                <div class="data">Lil wayne</div></div>
                            <input name="" type="button" class="fan" value="+ fan" />
                            <!--<div class="fan">+ fan</div>-->
                        </div>
                        <div class="post">
                            <div class="posts">
                                <img src="{$smarty.const.SITE_URL}views/images/lil.png" width="114" height="105" />
                                <div class="data">Lil wayne</div></div>
                            <input name="" type="button" class="fan" value="+ fan" />
                            <!--<div class="fan">+ fan</div>-->
                        </div>

                        <div class="post">
                            <div class="posts">
                                <img src="{$smarty.const.SITE_URL}views/images/lil.png" width="114" height="105" />
                                <div class="data">Lil wayne</div></div>
                            <input name="" type="button" class="fan" value="+ fan" />
                            <!--<div class="fan">+ fan</div>-->
                        </div>

                    </div>


                    <div class="clear"></div>

                    <div class="btm_line">
                        <div class="showmore"><a href="#">show more</a></div>
                    </div>

                    <div class="skip"><input name="" type="button" class="continue_btn" value="continue" /><br /><br /><br />
                        <br />


                        <a href="{$smarty.const.SITE_URL}socialMedia" ><i>Skip this step</i></a></div>

                    <div class="clear"></div>



                </div>    



                <!--Right Section End--> 
         

            {include file='footer.tpl.html'}
