
{include file='headerguest.tpl.html'}

</div>
 
<!--Right Section-->
<div class="right_container">
    <div id="rightsection">
        <div id="right_area">

            <div class="mail_details_new2">

                <h2 style="font-size:15px;padding-left:25px; ">RECOVER YOUR ACCOUNT DETAILS BY PROVIDING YOUR EMAIL ADDRESS:</h2>
                <form name="fanlogin" id="fanlogin" method="POST" action="" class="test">
                    <input type="hidden" name="fgt" value="fgt" />
                    <div class="loginsection" style="width: 300px;">
                        <table  cellpadding="5" cellspacing="5" border="0" width="450px">
                            <tr> <td class="err" > {$ermsg} {$error}</td></tr>
                            <tr> <td >Enter Email Address:</td></tr>
                            <tr><td><input name="fan_email" id="fan_email_forgot" type="text" class="textfield" /> </td></tr>
                            <tr ><td ><input name="submit" type="submit" class="btn" value="SUBMIT"/> </td> </tr>
                        </table>
                    </div>
                </form>
            </div>
            <div class="clear"></div>

        </div>    
        {include file='footerGuest.tpl.html'}

