{include file ='header.tpl.html'}
{include file ='zoom.tpl.html'}
{include file='myfanwireLeftBar.tpl.html'}<!-- this is left bar -->

<!--Right Section-->
<div class="right_container">

    <div id="rightsection">

        <div id="right_area">
            <div class="connect_fans">

                <h2>Add a new item</h2>
                <br />

                <div class="settings_page">
                    <div class="awards_active">
                        <ul>
                            <li><a href="#"><span><strong>Step 1. Content Type</strong></span></a></li>
                            <li><a href="#"><span><strong>Step 2. Add Information</strong></span></a></li>
                            <li class="active"><a href="#"><span><strong>Step 3. organize</strong></span></a></li>
                            <li><a href="#"><span><strong>step 4. preview and publish</strong></span></a></li>
                        </ul>

                    </div></div>

                <div class="heading2">
                    <h2>privacy settings</h2></div>
                <div class="clear"></div>

                <div class="privacy_settings">

                    <a href="#" class="public active">Public</a>
                    <a href="#" class="private">Private</a>



                </div>


            </div>


            <div class="build_wire">

                <div class="wire_list"><h2>Where does this belong?<br />
                        <br />
                        <span>Add to an existing FanWire</span></h2><br /><br />

                    <h4>or</h4>

                    <a href="#">Top 80’s Music Videos</a><br />

                    <a href="#">Summer 2012 Photos</a><br />

                    <a href="#">Graduation Photos</a><br />

                    <a href="#">Family Fun Xmas</a><br />

                    <a href="#">Videos I found on YouTube</a><br />

                    <a href="#">Trailers for 2011</a>

                </div>

                <div class="wire_list2">
                    Add From YouTube (Paste YouTube URL below)<br />
                    <br />



                    <div class="add_manager"><input name="" type="text" class="textfield" /> <input name="" type="button" class="browse_btn" value="Media Manager" /></div>

                </div>

            </div>

            <div class="clear"></div>

            <hr />

            <input name="" type="button" class="back" value="back" onclick="window.location.href='my_fanwire_organise';"  />
            <input name="" type="submit" class="next" value="next"  onclick="window.location.href='my_fanwire_organise_publish';"  /></div>




        {include file ='footer.tpl.html'}
