{include file='header.tpl.html'}
{include file='zoom.tpl.html'}
 {include file='myfanwireLeftBar.tpl.html'}
 <!--Right Section-->
<div class="right_container">
<div class="more_posts"><a href="#">More Posts</a></div>
<div id="inner_rightsection">
    <div id="inner_right_area">
      <div class="main_inner_data_area">
      
        <div class="fan_wire_section">
        	<div class="bredcrumbs"></div>
          <div class="heading"><h2>LIL Wayne - the carter iv review</div>
          <div class="article">

              
              
<div class="be_fan">
<h2>You may also want to be a fan of...</h2>
<div class="be_fan">
	      
              
    
    
</div>
</div>
</div>
</div>
       <div class="fan_wire_right_section">
       <div class="fan_wire_right_section_data">
       
       	<div class="fan_right_comments">
        	<h2>What I’ve Been Doing...<br />
<span>54 comments</span></h2>

<p>“Great review! I can’t wait to get the album. Finally!”</p>

<div class="tracy">
  <div class="rating"><img src="images/logo_b.png" width="23" height="21" align="right" /> 35 </div>
	<img src="images/tracy.jpg" width="28" height="27" />Tracy Rayn </div>

	<p>“Great review! I can’t wait to get the album. Finally!”</p>
    
    
    <div class="tracy">
  <div class="rating"><img src="images/logo_b.png" width="23" height="21" align="right" /> 35 </div>
	<img src="images/tracy.jpg" width="28" height="27" />Tracy Rayn </div>
    
    <input name="" type="button" class="say_btn" value="say something!" />
  
    		 <div class="btm_line2">
    	<div class="showmore2"><a href="#">show more</a></div>
    </div>
    
    <div class="related_fanwires">
    	<h2>related fanwires</h2>
        
        <div class="related">
        <div class="related_text"><a href="#">add</a></div><div class="related_img"></div>
        Jay-Z
        </div>
        
        <div class="related">
        <div class="related_text"><a href="#">add</a></div><div class="related_img"></div>
       keyne west
        </div>
        
        <div class="related">
        <div class="related_text"><a href="#">add</a></div><div class="related_img"></div>
        common
        </div>
        
        
        <div class="related">
        <div class="related_text"><a href="#">add</a></div><div class="related_img"></div>
        rick ross
        </div>
        
        
        <div class="related">
        <div class="related_text"><a href="#">add</a></div><div class="related_img"></div>
        Jay-Z
        </div>
        
        
         </div>
      
        <div class="related_fanwires">
    	<h2>related media</h2>
        
        <div class="related"><div class="related_img"></div>
       Jaz Z and Kayne West King of Thrones Review
        </div>
        
        <div class="related"><div class="related_img"></div>
       The Attic Ends coming out of nowhere?
        </div>
        
        <div class="related"><div class="related_img"></div>
        Common - The Album You Need to Buy.
        </div>
        
        
        <div class="related"><div class="related_img"></div>
	Lil Wayne - Released From Prison        </div>
        
        
       
        
        
         </div>
   
    <!--end-->
        </div>
       
       
       </div>
       
       </div>  
       
       
       
        </div>
        
        
        <div class="clear"></div>
        
       
      </div>
		{include file='footer.tpl.html'}
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                