{include file='header.tpl.html'}
{include file='myfanwireLeftBar.tpl.html'}

<div id="fb-root"></div>
<!--Right Section-->
<div class="right_container">
    <div id="rightsection">
        <div id="right_area">
            <div class="connect_fans">
                <div class="settings_page">
                    <div class="awards_active">
                        <ul>
                            <li><a href="{$smarty.const.SITE_URL}settings"><span><strong>Profile 
                                            settings</strong>
                                    </span>
                                </a>
                            </li>
                            <li  class="active"><a href="{$smarty.const.SITE_URL}social"><span><strong> social
                                            media</strong>
                                    </span>
                                </a>
                            </li>
                            <!--                            <li><a href="{$smarty.const.SITE_URL}about"><span><strong> about me</strong>
                                                                </span>
                                                            </a>
                                                        </li>-->
                        </ul>
                    </div>
                </div>
                <div id='message' class='settings_details'></div>
                <span style="font-family:'Oswald';font-size: 16px;margin-left: 31px;">Connect your social media accounts for more access and additional features.</span>
                <div class="addpost" style="margin-left: 28px!important;">
                    <div class="connecting">

                        <div class="connect">
                            <a href="javascript:void(0);" id="disconnectfacebook" onclick="logoutFB();" style="display: none;">Disconnect facebook</a>
                            <a href="javascript:void(0);" id="connectfacebook" onclick="stat();">connect facebook</a> 
                            <div class="connected" id="connectedfacebook" style="display: none;">
                                <img  src="{$smarty.const.SITE_URL}views/images/connected.png"  width="21" height="20" />  Connected! 
                            </div>
                        </div>
                        <div class="connect" style="opacity:0.2">
                            <a href="{$t_login_url}" id="disconnecttwitter" style="display:none">connected twitter</a>
                            <a href=""  id="connecttwitter">connect twitter</a>
                            <div class="connected" id="connectedtwitter" style="display:none"> 
                                <img  src="{$smarty.const.SITE_URL}views/images/connected.png"  width="21" height="20" />  Connected! 
                            </div>
                        </div>
                        <div class="connect" style="opacity:0.2">
                            <a href="#" id="connectyoutube">connect youtube</a>
                            <div class="connected" id="connectedyoutube" style="display:none"> 
                                <img  src="{$smarty.const.SITE_URL}views/images/connected.png"  width="21" height="20"  /> Connected!  
                            </div> 
                        </div>
                    </div>

                </div>
            </div>
            <div class="clear"></div>
        </div>
        {include file='footer.tpl.html'}
        {literal}

        <script type="text/javascript">
            function logoutFB(){
                FB.logout(function (response) {
                    console.log(response);
                });
            }
            function stat(){
                FB.getLoginStatus(function(response) {
                    if (response.status === 'connected') {
                        login();
                    } else if (response.status === 'not_authorized') {
                    } else {
                        FB.login(null,{scope:'email,user_birthday,status_update,publish_stream,user_about_me'});return false;
                    }
                });}
            window.fbAsyncInit = function() {
                FB.init({appId: '{/literal}{$smarty.const.FB_APP_ID}{literal}', status: true, cookie: true, xfbml: true});
                /* All the events registered */
                FB.Event.subscribe('auth.login', function(response) {
                    
                    // do something with response
                    console.log('user logged in in facebook');
                    login();
                });
                FB.Event.subscribe('auth.logout', function(response) {
                    // do something with response
                    console.log('user loggedout  in facebook');
                    logout();
                });

                FB.getLoginStatus(function(response) {
                    if (response.status === 'connected') {
                        login();
                    } else if (response.status === 'not_authorized') {
                    } else {
                        //FB.login(null,{scope:'email,user_birthday,status_update,publish_stream,user_about_me'});return false;
                    }
                });
            };
            (function() {
                var e = document.createElement('script');
                e.type = 'text/javascript';
                e.src = document.location.protocol +
                    '//connect.facebook.net/en_US/all.js';
                e.async = true;
                document.getElementById('fb-root').appendChild(e);
            }());

            function login(){
                FB.api('/me', function(response) {
                    //ajax registration form submission
                    var fname=response.first_name;
                    var lname=response.last_name;
                    var name=response.name;
                    var email=response.email;
                    var link=response.link
                    var fbid=response.id;
                    var birthday=response.birthday;
                    var sex=response.gender;
                    var dataStringd="firstname="+fname+"&lastname="+lname+"&username="+name+"&email="+email+"&fb_url_link="+link+"&dob="+birthday+"&sex="+sex+"&fbid="+fbid;
                    $.ajax({
                        type: "POST",
                        url:"{/literal}{$smarty.const.SITE_URL}{literal}manageSession",
                        data: dataStringd,
                        success: function(resa) {
                            $('#connectfacebook').hide();
                            $('#disconnectfacebook').show();
                            $('#connectedfacebook').show();
                        },
                        error:function(data){
                            console.log(data);
                        }
                    });
                    $('#connectfacebook').hide();
                    $('#disconnectfacebook').show();
                    $('#connectedfacebook').show();
                });
               
            }
            function logout(){
                var dataStringd="destroy=yes";
                $.ajax({
                    type: "POST",
                    url:"{/literal}{$smarty.const.SITE_URL}{literal}index/manageSession",
                    data: dataStringd,
                    success: function(resa) {
                        $('#connectfacebook').show();
                        $('#disconnectfacebook').hide();//to hide the connected label
                        $('#connectedfacebook').hide();//to hide the connected iamge
                    },
                    error:function(data){
                        console.log(data);
                    }
                });
                
            }

 
               
        </script>
        {/literal}