{include file='header.tpl.html'}
{include file='zoom.tpl.html'}
{include file='myfanwireLeftBar.tpl.html'}<!-- this is left bar -->
{literal}
<script>
    $(document).ready(function(){
        $("#videoupload").validate({
            rules:{
                title:{required:true},
                description:{required:true},
                embedcode:{required:true}
            }
        });
    });
</script>
{/literal}
<!--Right Section-->
<div class="right_container">

    <div id="rightsection">

        <div id="right_area">
            <div class="connect_fans">
                <form action="" method="post" id="videoupload" name="videoupload" enctype="multipart/form-data">
                    <h2 class="new_video">Add a new video</h2>

                    <!--this photos are section start here-->
                    <div class="this_photos">
                        <h3>This Photos are :</h3>

                        <div class="tp_options">
                            <input type="radio" /> Personal<br />
                            <input type="radio" /> For a Fanwire<br />
                            <input type="text" />
                        </div>
                        <div class="clear"></div>
                    </div>
                    <!--this photos are section start here-->

                    <!--we support section start here-->
                    <div class="we_support">
                        <h3>we support :</h3>
                        <div class="support_icons">
                            <a href="#"><img src="{$smarty.const.SITE_URL}views/images/youtube_icon.png" alt=""/></a>
                            <a href="#"><img src="{$smarty.const.SITE_URL}views/images/vimeo_icon.png" alt="" /></a>
                            <a href="#"><img src="{$smarty.const.SITE_URL}views/images/funny_die_icon.png" alt="" /></a>
                            <a href="#"><img src="{$smarty.const.SITE_URL}views/images/break_icon.png" alt="" /></a>
                            <a href="#"><img src="{$smarty.const.SITE_URL}views/images/daily_motion_icon.png" alt="" /></a>
                        </div>
                    </div>
                    <!--we support section start here-->

                    <!--video information and preview sections start here-->
                    <div class="add_new_video">
                        <!--video information section start here-->
                        <div class="add_new_video_information">
                            <h3>video information</h3>

                            <label>Video embed code of URL</label><textarea></textarea>
                            <label>Title of Video</label><input type="text" /><span>This title was automatically suggested. Feel free to
                                change it if you'd like.</span>
                            <label>Keywords</label><input type="text" />
                            <div class="plus_btn"><a href="#"><img src="{$smarty.const.SITE_URL}views/images/plus_icon.png" /></a></div>
                            <div class="remove_keywords">
                                <span><a href="#">X</a>80's Music</span>
                                <span><a href="#">X</a>Music</span>
                                <span><a href="#">X</a>Lil Wayne</span>
                            </div>
                            <div class="clear"></div>

                        </div>
                        <!--video information section end here-->

                        <!--video preview section start here-->
                        <div class="new_video_preview">
                            <h3>preview</h3>
                            <img src="{$smarty.const.SITE_URL}views/images/video_image.jpg" />
                            <p>Lil Wayne - She Will Ft. Drake (New 2011)</p>
                            <div class="add_another_video"><a href="#"><img src="{$smarty.const.SITE_URL}views/images/plus_icon.png" />add another video</a></div>
                            <div class="clear"></div>
                        </div>
                        <!--video preview section end here-->
                        <div class="clear"></div>
                    </div>
                    <!--video information and preview sections end here-->

                    <!--notification options section start here-->
                    <div class="notifications_div">
                        <h3>Notification</h3>

                        <div class="n_options">
                            <input type="checkbox" /> Twitter Account <span><a href="#">add account</a></span><br />
                            <input type="checkbox" /> Facebook Account<br />
                        </div>
                        <div class="clear"></div>
                    </div>
                    <!--notification options section start here-->

                    <!--privacy are section start here-->
                    <div class="privacy">
                        <h3>Privacy</h3>

                        <div class="privacy_options">
                            <input type="radio" /> This is a private post<br />
                            <input type="radio" /> This is a public post<br />
                        </div>
                        <div class="clear"></div>
                    </div>
                    <!--privacy section start here-->

                    <!--save, back btns sections start here-->
                    <div class="bs_btns">
                        <a href="{$smarty.const.SITE_URL}addItem" class="back_btn">back</a>
                        <div id="submitbutton"></div>
                        <input type="submit" class="save_btn" name="submit" value="publish" />
                        <div class="clear"></div>
                    </div>
                    <!--save, back btns sections end here-->

            </div>
            <for>

        </div>
        {include file='footer.tpl.html'}