{include file='header.tpl.html'}
{include file='zoom.tpl.html'}
{include file='myfanwireLeftBar.tpl.html'}

{include file='mediaManagerhalfRightBar.tpl.html'}<!-- media manager half right bar -->
       
       <div class="photo_list2">
             <div class="photos_list">
<img src="images/family.jpg" width="246" height="151" />
<div class="data"><img src="images/minus.png" width="19" height="19" /> Family picnic 2012 <br />
<span>21 Photos</span></div></div>
	<div class="photo_post">
    	<div class="message">(3)</div>
        <div class="blue">(11)</div>
        <div class="red">(19)</div>
    </div>
       </div>
       
       <div class="photo_list2">
             <div class="photos_list">
<img src="images/family.jpg" width="246" height="151" />
<div class="data"><img src="images/minus.png" width="19" height="19" /> Family picnic 2012 <br />
<span>21 Photos</span></div></div>
	<div class="photo_post">
    	<div class="message">(3)</div>
        <div class="blue">(11)</div>
        <div class="red">(19)</div>
    </div>
       </div>
       
       
       <div class="photo_list2">
             <div class="photos_list">
<img src="images/family.jpg" width="246" height="151" />
<div class="data"><img src="images/minus.png" width="19" height="19" /> Family picnic 2012 <br />
<span>21 Photos</span></div></div>
	<div class="photo_post">
    	<div class="message">(3)</div>
        <div class="blue">(11)</div>
        <div class="red">(19)</div>
    </div>
       </div>
       
       <div class="photo_list2">
             <div class="photos_list">
<img src="images/family.jpg" width="246" height="151" />
<div class="data"><img src="images/minus.png" width="19" height="19" /> Family picnic 2012 <br />
<span>21 Photos</span></div></div>
	<div class="photo_post">
    	<div class="message">(3)</div>
        <div class="blue">(11)</div>
        <div class="red">(19)</div>
    </div>
       </div>
           
     </div>
      
  <div class="clear"></div> 
   
    <div class="btm_line">
    	<div class="showmore"><a href="#">show more</a></div>
    </div>
 
   
   </div>
 
   
</div>


<div class="footer">
  <div class="ftr_left">© 2012 <a href="#">www.fanwire.com</a> |  Web design by JeTT</div>
  <div class="ftr_right"><a href="footer.html">About</a> | <a href="#">Terms and Conditions </a> | <a href="#">Privacy Policy</a> | <a href="#">Developers</a> | <a href="#">Advertising</a> | <a href="#">Help</a> | <a href="#">Contact</a></div>
</div>

</div>

</div>
</body>
</html>
